$susy: (
  'columns': susy-repeat(12),
  'gutters': 0.25,
  'spread': 'narrow',
  'container-spread': 'wide'
);

/* Generate grid */
.span {
  float: left;
  margin-right: gutter();
  
  &:last-child {
    margin-right: 0;
  }
}

@for $span from 1 through length(susy-get('columns')) {
  .span-#{$span} {
    width: span($span);
  }
  @media screen and (max-width: 600px) {
    .span-#{$span} {
      width: 100%;
    }
  }
}

/* Layout mixins */
@mixin clearfix {
  #{"&"}:after {
    display: table;
    clear: both;
    content: '';
  }
}

@mixin span($span, $config: $susy) {
  width: span($span, $config);

  @if index($span, 'last') {
    float: right;
  } @else {
    float: left;
    margin-right: gutter();
  }
}

.clearfix {
  @include clearfix;
}

/* HTML default */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* Helpers */
.text-center {
  text-align: center;
}

.sr-only { // taken from bootstrap 3
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}